<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="about.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doraki - About Page</title> 
</head>
<body>
    
    

    <div class="container">
        <a href="index.html">
            <button class="btn ">Home</button>
            </a>
        <a href="about.html">
            <button class="btn ">About</button>
            </a>
        
            <a href="contact.html">
                <button class= "btn ">Chat Bot API</button>

       
        </a> 
    </div>
        <h1 class="page-header">ABOUT PAGE</h1>

        <h3 class="letter">This Artificial Intelligence uses Chat Bot API and Text to Speech<br> to Answer questions that the user sends.
        </h3>

</body>
</html>